:root{
    --AIA-red: rgb(212, 9, 67);
}
body{
    margin: 0;
    background-color: black;
    overflow: hidden;
}
.container{
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr .1fr;
}
.side-nav{
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
    color: var(--AIA-red);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min(100px,100%) 1fr .5fr;
    justify-items: center;
}
.side-nav ul,
.side-nav li{
  list-style: none;
  padding: 0;
  margin: 0;
  grid-row: 1 / span 2;
}
.db-header{
    align-self: center;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.options ul,
.gnrl-sttngs ul{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.header{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: grid;
    grid-template-columns: 2fr 1fr .2fr .2fr;
    grid-template-rows: .5fr 1fr;
    align-items: center;
}
.header .searchBar{
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    margin: 0px 60px;
    align-self: center;
}
.header .searchBar input{
    width: 100%;
}
.header .create{
    grid-column: 2 / span 3 ;
    grid-row: 2 / span 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header .create button{
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 1px 1px black;
    color: black;
    width: clamp(100px,20px,100%);

}
.header .create button:hover{
    background-color: var(--AIA-red);
    color: white;
    transform: scale(1.1);
    transition: ease .3s;
}
.header .greeting{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 1fr;
}
.content{
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    background-color: rgb(167, 167, 167);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr 1fr;
    overflow: auto;
    border: 1px solid black;
}
.prj-hdr{
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    font-family: 'Itim', 'Courier New', Courier, monospace;
    font-size: 2rem;
    color: black;
    font-weight: bold;
    align-self: center;
    justify-self: center;

}
.projects{
    grid-column: 1 / span 1;
    grid-row: 2 / span 3;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    gap: 10px;
    overflow: auto;
}
.content .project{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: clamp(250px,200px,100px);
    height: clamp(200px, 150px, 100px);
}
.content .annc-hdr{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}
.content .announcements{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.trndng-hdr{
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}
.content .trendings{
    grid-column: 2 /span 1;
    grid-row: 4 / span 1;
    overflow: auto;
}
.trending,
.announcement{
    background-color: white;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    width: min(300px,100%);
    height: min(100px,100%);
    overflow: auto;
}
.footer{
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
    background-color: grey;
    color: whitesmoke;
    font-size: .6em;
    display: flex;
    justify-content: center;
    align-items: center;
}